<!DOCTYPE html>
<html lang="en">
<head>
  <title>Binar Challange</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" type="text/css" href="css/myCss/index.css">
  <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎯</text></svg>">

</head>
    <body>
        <div class="content-404">
            <div class="container" style="padding-top: 500px;">
                <div class="row">
                    <div class="col-md-3 col-xs-12">
                        <H1>404</H1>  
                    </div>
                    <div class="col-md-9 col-xs-12" style="color: white;">
                        <div class="col-md-12">
                            <h2>PAGE ERORR</h2>
                        </div>
                        <div class="col-md-12">
                            <h3>Page that you search is not found!</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
  